<tr>
    <td>{{no}}</td>
    <td>{{title}}</td>
    <td>{{icon}}</td>
    <td>{{text}}</td>
    <td>
        <button class="hta-btn-row hta-up-row btn btn-xs btn-default">
            위로
        </button>
        <button class="hta-btn-row hta-down-row btn btn-xs btn-default">
            아래로
        </button>
        <button class="hta-btn-row hta-remove-row btn btn-xs btn-danger btn-default">
            삭제
        </button>
    </td>
</tr>