<tr>
    <td>{{no}}</td>
    <td>{{title}}</td>
    <td>{{value}}</td>
    <td>
        <button class="hta-btn-row hta-up-row btn btn-xs">
            위로
        </button>
        <button class="hta-btn-row hta-down-row btn btn-xs">
            아래로
        </button>
        <button class="hta-btn-row hta-remove-row btn btn-xs btn-danger">
            삭제
        </button>
    </td>
</tr>