<tr>
    <td></td>
    <td><input type="text" class="hta-area-info-title" value="{{title}}"></td>
    <td><input type="text" class="hta-area-info-value" value="{{value}}"></td>
    <td>
        <button class="hta-btn-row hta-apply-row btn btn-xs btn-success">
            적용
        </button>
        <button class="hta-btn-row hta-cancel-row btn btn-xs btn-default">
            취소
        </button>
    </td>
</tr>