<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="http://localhost:82/admin/">
    <title>HT Admin</title>
</head>
<body>
{{> ../../template/admin/menu}}
<div class="admin-contents">
    <div class="hta-temp-title">관리자홈</div>
</div>
</body>
</html>